* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic style for input area */
.input-area {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    font-size: 2em;
}